.container{
    display: flex;
    align-items: center;
    padding: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    flex-direction: column;
    
    form{
        border: 1px solid gray;
        display: flex;
        width: 30%;
        flex-direction: column;
        padding: 3rem;
        border-radius: 0.4em;

        label{
            margin-top: 2rem;
        }
        input{
            border: 1px solid gray;
            border-radius: 0.2rem;
            padding: 0.5rem;
        }
        button{
            margin-top: 2rem;
            width:fit-content;
            border: 1px solid transparent;
            background-color: rgb(94, 94, 255);
            color: white;
            border-radius: 0.3rem;
            padding: 0.5rem;
            font-size: medium;

            &:disabled{
                border: 1px solid #999999;
                background-color: #cccccc;
                color: #666666;
            }
            &:active:not(:disabled){
                position: relative;
                top:0.1rem;
            }
        }
    }

    .value-container{
        width: 15rem;

        padding: 0.5rem;
        margin: 1rem;
        border: 1px solid gray;
        display: flex;
        flex-direction: column;
        border-radius: 0.4em;

        .value-option{
            color: gray;
            margin: 0.4rem;

        }
    }
}